/*
Author:         #
Author URI:     #
Description:    bottlePOST[ ]
Version:        1.0
License:        GNU General Public License v3
License URI:    https://www.gnu.org/licenses/gpl-3.0.de.html
dunkelblau      #264890
blau            #3884cf
aquamarin       #0fd4cb
türkis          #67d29e
dunkler Sand    #b7c0a5
heller Sand     #dfd2c1
dunkelgrau      #3a3739 rgb(58,55,57)
weiß            #ffffff rgb(255,255,255)
hellgrau        #9c9b9c
*/


/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Import
# General
	## Generic styles
	## Buttons and links
# Widget
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Import
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Generic Styles
--------------------------------------------------------------*/

*{
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.lowercase {
    text-transform: lowercase;
}

.clear {
    clear: both;
}

body.be-different {
    background-image: url(../images/bg/be-different.jpg);
}

body.chapter {
    background-image: url(../images/bg/chapter.jpg);
}

body.decisions {
    background-image: url(../images/bg/decisions.jpg);
}

body.faith {
    background-image: url(../images/bg/faith.jpg);
}

body.success {
    background-image: url(../images/bg/success.jpg);
}

body.way {
    background-image: url(../images/bg/way.jpg);
}

img.circle {
    border-radius: 50%;
}

/*--------------------------------------------------------------
## Navigation
--------------------------------------------------------------*/

.navbar {
    background-color: #3a3739;
    border: 0;
}

.navbar-inner {
    min-height: 0px;
}

.navbar > .container-fluid p.navbar-brand {
    margin: 0;
}

p.navbar-brand {
    margin: 0;
    vertical-align: middle;
    line-height: 40px;
    color: white;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 70px;
    height: 70px;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-nav li a:hover,
.navbar-nav li a:focus {
    color: #3a3739;
}

.navbar-brand {
    padding-top: 15px;
    padding-bottom: 15px;
}

a.navbar-brand {
    background-color: white;
}

.navbar-brand img {
    height: 40px;
    width: 40px;
}

.navbar-nav a i.fa {
    color: white;
    font-size: 25px;
    line-height: 70px;
    vertical-align: middle;
}

/* Dropdown-Menüs */

.dropdown-toggle {
    color: white;
    font-size: 20px;
}

.navbar-nav .dropdown-menu > li > a {
    line-height: 20px;
}

.dropdown-menu a i.fa {
    color: #9c9b9c;
    font-size: 18px;
    line-height: 40px;
    vertical-align: middle;
}

.navbar-nav li.dropdown ul.dropdown-menu li a {
    line-height: 40px;
    height: 40px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}

.dropdown-toggle img.profile {
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.navbar-nav li.dropdown ul.dropdown-menu {
    padding-top: 0;
}

.navbar-nav li.dropdown ul.dropdown-menu.small {
    width: 250px;
}

.navbar-nav li.dropdown ul.dropdown-menu.wide {
    width: 400px;
}

.navbar-nav li.dropdown ul.dropdown-menu li.heading {
    color: #3a3739 ;
    text-align: center;
    border-bottom: 1px solid #e7e7e7;
    border-top: 1px solid #e7e7e7;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-transform: uppercase;
    background-color: #0fd4cb;
}

.navbar-nav li.dropdown ul.dropdown-menu li.heading:first-child {
    margin-top: 0;
}

.navbar-nav i.fa {
    color: black;
}

.dropdown-menu {
    border: 1px solid #0fd4cb;
}

.dropdown-menu li .list-topic {
    width: 30px;
    display: inline-block;
    text-align: center;
    margin-right: 5px;
}

.dropdown-menu li .list-item {
    display: inline-block;
}

.dropdown-menu .divider {
    margin: 0;
    background-color: #0fd4cb;
}

.navbar-nav li.dropdown .dropdown-menu .highlight {
    background-color: #0fd4cb;
}

.navbar-nav li.dropdown .dropdown-menu .highlight a i.fa {
    color: #3a3739;
}

.navbar-nav li.dropdown ul.dropdown-menu li {
    background-color: rgba(223,210,193,0.4);
    border-bottom: 1px solid #0fd4cb;
}

.navbar-nav li.dropdown ul.dropdown-menu li:hover {
    background-color: #dfd2c1;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
    background-color: #dfd2c1;
}

.navbar-nav li.dropdown .dropdown-menu .highlight a:hover {
    background-color: #0dbcb4;
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: #dfd2c1;
}

.nav .open > a, .nav .open > a:focus,
.nav .open > a:hover {
    background-color: #dfd2c1;
}

/* Notifications */
.navbar-nav li.dropdown ul.dropdown-menu {
    padding-bottom: 0;
}

.navbar-nav li.dropdown ul.dropdown-menu li .notification-wrapper {
    background-color: rgba(223,210,193,0.4);
    border-bottom: 1px solid #0fd4cb;
}

.navbar-nav li.dropdown ul.dropdown-menu li .notification-wrapper:hover {
    background-color: #dfd2c1;
}

.notification-wrapper {
    padding: 20px;
    clear: both;
}

.notification-wrapper .notification-image img {
    height: 50px;
    border-radius: 50%;
    margin-top: 10px;
}

.notification-wrapper .notification-image {
    width: 50px;
    margin-right: 20px;
    float: left;
}

.notification-wrapper .notification-topic {
    width: 30px;
    margin-left: 10px;
    float: right;
}

.notification-wrapper .notification-item {
    width: 230px;
    float: left;
    margin-top: 5px;
}

.notification-wrapper .content .notification-topic i.fa {
    color: #9c9b9c;
    font-size: 30px;
    line-height: 50px;
    vertical-align: middle;
}

.item-title {
    font-size: 14px;
    color: #3a3739;
    margin-top: 0;
    margin-bottom: 5px;
    line-height: 18px;
}

.item-info {
    font-size: 10px;
    color: #9c9b9c;
    margin-top: 5px;
    margin-bottom: 0;
    font-weight: lighter;
    line-height: 20px;
    vertical-align: middle;
}

.item-subtitle {
    font-size: 12px;
    background-color: #dfd2c1;
    border-radius: 3px;
    line-height: 14px;
    padding: 10px;
    text-align: left;
    color: #3a3739;
    font-weight: lighter;
    margin-bottom: 5px;
    margin-top: 5px;
}

/*--------------------------------------------------------------
# Wrapper
--------------------------------------------------------------*/
.wrapper {
    margin-left: 50px;
    margin-right: 50px;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {

}

.widget .inner {
    margin: 0 15px;
    box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.16);
}

.widget .inner .container {
    padding: 0;
}

.widget-post {
    margin-bottom: 30px;
}

/*--------------------------------------------------------------
# Weather-Widget
--------------------------------------------------------------*/
.row-no-gutter {
	margin-right: 0;
	margin-left: 0;
}

.row-no-gutter [class*="col-"] {
	padding-right: 0;
	padding-left: 0;
}


#card {
	background: #fff;
	position: relative;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
    border-radius: 4px;
}

.city-selected {
	position: relative;
	overflow: hidden;
	min-height: 200px;
	background: #3D6AA2;
    border-radius: 4px;
}

article {
	position: relative;
	z-index: 2;
	color: #fff;
	padding: 20px;

	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-align-content: flex-start;
	-ms-flex-line-pack: start;
	align-content: flex-start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.info .city,
.night {
	font-size: 24px;
	font-weight: 200;
	position: relative;


	-webkit-order: 0;
	-ms-flex-order: 0;
	order: 0;
	-webkit-flex: 0 1 auto;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	-webkit-align-self: auto;
	-ms-flex-item-align: auto;
	align-self: auto;
}

.city span {
	color: #fff;
	font-size: 13px;
	font-weight: bold;

	text-transform: lowercase;
	text-align: left;
}

.night {
	font-size: 15px;
	text-transform: uppercase;
}

#card .icon {
	width: 84px;
	height: 84px;
	-webkit-order: 0;
	-ms-flex-order: 0;
	order: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
    font-size: 55px;
	overflow: visible;
}


.temp {
	font-size: 73px;
	display: block;
	position: relative;
	font-weight: bold;
}

.temp span.temp {
    font-size: 50%;
    display: inline;
    line-height: 73px;
    vertical-align: top;
}

svg {
	color: #fff;
	fill: currentColor;
}


.wind svg {
	width: 18px;
	height: 18px;
	margin-top: 20px;
	margin-right: 10px;
	vertical-align: bottom;
}

.wind span {
	font-size: 13px;
	text-transform: uppercase;
}

.city-selected:hover figure {
	opacity: 0.4;
}


figure {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.1;
    z-index: 1;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.widget-weather {
    margin-bottom: 30px;
}

/*.day {
    background-color: #2a4a71;
    margin-bottom: -10px;
}*/

/*--------------------------------------------------------------
# New Post-Widget
--------------------------------------------------------------*/
.post-text {
}

.post-text .inner {
}

.post-text .inner .container-fluid .user img {
    width: 70%;
    margin-top: 5px;
    margin-left: 10%;
}

.post-textarea {
    border: 0;
}

#tabs {
    padding: 0;
}

#tabs .nav-pills > li > a {
    border-radius: 4px 4px 0 0 ;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}

#tabs .tab-content {
    color : black;
    background-color: #fafafa;
    padding : 10px 15px;
}

#tabs .tab-footer {
    background-color: rgb(245, 245, 245);
    height: 55px;
    font-size: 12px;
    font-weight: 700;
    color: #3a3739;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-left: 30px;
    padding-right: 30px;
}

span.characters-remaining {
    margin-top: 5px;
    vertical-align: middle;
    display: block;
}

.tab-footer .btn {
    text-align: right;
    float: right;
    margin-top: 11px;
}

.nav-pills > li.active > a {
    background-color: rgb(245, 245, 245, 0.5);
    cursor: initial;
    color: #3a3739;
}

.nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background-color: rgb(245, 245, 245, 0.4)
    cursor: initial;
}

.nav-pills {
    border-radius: 4px 4px 0 0 ;
    background-color: rgba(250,250,250,0.8);
}

/* Status */
.label {
    font-size: 12px;
    font-weight: 700;
    color: #959595;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.form-control {
    display: block;
    height: 36px;
    width: 100%;
    border: none;
    border-radius: 0 !important;
    font-size: 16px;
    font-weight: 300;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    border-bottom: 1px solid #757575;
    border-left: 1px solid #757575;
    max-width: 100%;
    padding: 5px;
    min-height: 50px;
}

.form-control:focus {
    border-color: #757575;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

/* Events */
.widget.events .inner {
    background-color: green;
}

.widget.events .icon {
    font-family: 'Calibri light', sans-serif;
    display: inline-block;
    font-size: 38px;
    color: #fafafa;
    font-weight: lighter;
}

/* Posting */
.panel-google-plus {
    padding: 15px;
    position: relative;
    border-radius: 0px;
    border: 1px solid rgb(216, 216, 216);
    font-family: 'Roboto', sans-serif;
}
.panel-google-plus > .dropdown {
    position: absolute;
    top: 5px;
    right: 15px;
}
.panel-google-plus > .dropdown > span > span {
    font-size: 10px;
}
.panel-google-plus > .dropdown > .dropdown-menu {
    left: initial;
    right: 0px;
    border-radius: 2px;
}

.panel-google-plus > .panel-heading,
.panel-google-plus > .panel-footer {
    background-color: rgb(255, 255, 255);
    border-width: 0px;
}
.panel-google-plus .panel-heading {
    padding: 0;
    margin-bottom: 10px;
}
.panel-google-plus .panel-body {
    padding: 0;
}

.panel-google-plus > .panel-heading {
    padding-bottom: 5px;
}
.panel-google-plus > .panel-heading > img {
    margin-right: 15px;
    height: 50px;
    width: 50px;
}
.panel-google-plus > .panel-heading > h3 a {
    margin: 0px;
    font-size: 14px;
    font-weight: 700;
    color: #333;
    font: 'Roboto', sans-serif;
    text-decoration: none;
}
.panel-google-plus > .panel-heading > h5 {
    color: rgb(153, 153, 153);
    font-size: 12px;
    font-weight: 400;
}
.panel-google-plus > .panel-body {
    padding-top: 5px;
    font-size: 13px;
}
.panel-google-plus .panel-body p {
    font-size: 16px;
}
.panel-google-plus > .panel-body > .panel-google-plus-image {
    display: block;
    text-align: center;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(217, 217, 217);
}
.panel-google-plus > .panel-body > .panel-google-plus-image > img {
    max-width: 100%;
}

.panel-google-plus > .panel-footer {
    font-size: 14px;
    font-weight: 700;
    min-height: 54px;
}
.panel-google-plus > .panel-footer > .btn {
    float: left;
    margin-right: 8px;
}
.panel-google-plus > .panel-footer > .input-placeholder {
    display: block;
    margin-left: 98px;
    color: rgb(153, 153, 153);
    font-size: 12px;
    font-weight: 400;
    padding: 8px 6px 7px;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
}
.panel-google-plus.panel-google-plus-show-comment > .panel-footer > .input-placeholder {
    display: none;
}
.panel-google-plus > .panel-google-plus-comment {
    display: none;
    padding: 10px 20px 15px 5px;
    border-top: 1px solid #EEEEEE;
}
.panel-google-plus .panel-google-plus-comment img {
    height: 46px;
    border-radius: 50%;
}
.panel-google-plus.panel-google-plus-show-comment > .panel-google-plus-comment {
    display: block;
}
/*.panel-google-plus > .panel-google-plus-comment > img {
    float: left;
}*/
.panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea {
    float: right;
    width: calc(100% - 56px);
}
.panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > textarea {
    display: block;
    width: 100%;
    resize: vertical;
}
.panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > .btn {
    margin-top: 10px;
    margin-right: 8px;
    width: 100%;
}









.panel-google-plus .panel-google-plus-tags {
    position: absolute;
    top: 10px;
    right: -3px;
    z-index: 5;
}

.panel-google-plus .panel-google-plus-tags ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-right: 3px solid rgb(66, 127, 237);
}

.panel-google-plus .panel-google-plus-tags ul:hover {
    box-shadow: 0px 0px 3px rgb(0, 0, 0);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}

.panel-google-plus .panel-google-plus-tags ul li {
    display: block;
    padding: 5px 0;
    background-color: rgb(245, 245, 245);
    font-size: 12px;
    overflow: hidden;
    right: 0px;
    width: 0px;
}

.panel-google-plus > .panel-google-plus-tags > ul > li:after {
    height: 100%;
}

.panel-google-plus .panel-google-plus-tags ul li a,
.panel-google-plus .panel-google-plus-tags ul li a:active{
    color: #333;
    text-decoration: none;
}

.panel-google-plus > .panel-google-plus-tags > ul:hover > li,
.panel-google-plus > .panel-google-plus-tags > ul > li:first-child {
    padding: 5px 15px 5px 10px;
    width: auto;
    cursor: pointer;
    margin-left: auto;
}

.panel-google-plus .panel-google-plus-tags ul li:hover,
.panel-google-plus .panel-google-plus-tags ul li:hover a{
    background-color: rgb(66, 127, 237);
    color: rgb(255, 255, 255);
}

/*
.panel-google-plus > .panel-google-plus-tags > ul > li {
    display: block;
    right: 0px;
    width: 0px;
    padding: 5px 0px 5px 0px;
    background-color: rgb(245, 245, 245);
    font-size: 12px;
    overflow: hidden;
}
.panel-google-plus > .panel-google-plus-tags > ul > li::after {
    content:"";
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
	border-right: 3px solid rgb(66, 127, 237);
}
.panel-google-plus > .panel-google-plus-tags > ul:hover > li,
.panel-google-plus > .panel-google-plus-tags > ul > li:first-child {
    padding: 5px 15px 5px 10px;
    width: auto;
    cursor: pointer;
    margin-left: auto;
}
.panel-google-plus > .panel-google-plus-tags > ul:hover > li {
    background-color: rgb(255, 255, 255);
}
.panel-google-plus > .panel-google-plus-tags > ul > li:hover,
.panel-google-plus > .panel-google-plus-tags > ul > li:hover a{
    background-color: rgb(66, 127, 237);
    color: rgb(255, 255, 255);
}*/






















































/* Rotating Card */
.card{
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px;
    color: #444444;
}
.card-container {
    margin-bottom: 30px;
	width: 100%;
	border-radius: 4px;
	-webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.16);
}
.card .cover{
    height: 105px;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
}
.card .cover img{
    width: 100%;
}
.card .user{
    border-radius: 50%;
    display: block;
    height: 120px;
    margin: -55px auto 0;
    overflow: hidden;
    width: 120px;
}
.card .user img{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 4px solid #FFFFFF;
    width: 100%;
}

.card .content{
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    padding: 10px 20px 20px;
}
.card .back .content .main {
    height: 215px;
}
.card .name {
		font-family: 'Arima Madurai', cursive;
    font-size: 22px;
    line-height: 28px;
    margin: 10px 0 0;
    text-align: center;
    text-transform: capitalize;
}
.card h5{
    margin: 5px 0;
    font-weight: 400;
    line-height: 20px;
}
.card .profession{
    color: #999999;
    text-align: center;
}
.card .footer {
    border-top: 1px solid #EEEEEE;
    color: #999999;
    margin: 30px 0 0;
    padding: 10px 0 0;
    text-align: center;
}
.card .footer .social-links{
    font-size: 18px;
}
.card .footer .social-links a{
    margin: 0 7px;
}
.card .footer .btn-simple{
    margin-top: -6px;
}
.card .header {
    padding: 15px 20px;
    height: 90px;
}
.card .motto{
		font-family: 'Arima Madurai', cursive;
    border-bottom: 1px solid #EEEEEE;
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    text-align: center;
}

.card .stats-container{
	width: 100%;
	margin-top: 10px;
}
.card .stats{
	display: block;
	float: left;
	width: 33.333333%;
	text-align: center;
    margin-bottom: 10px;
}

.card .stats:first-child{
	border-right: 1px solid #EEEEEE;
}
.card .stats:last-child{
	border-left: 1px solid #EEEEEE;
}
.card .stats h4{
		font-family: 'Arima Madurai', cursive;
	font-weight: 300;
	margin-bottom: 5px;
}
.card .stats p{
	color: #777777;
}
/*      Just for presentation        */

.title{
    color: #506A85;
    text-align: center;
    font-weight: 300;
    font-size: 44px;
    margin-bottom: 90px;
    line-height: 90%;
}
.title small{
    font-size: 17px;
    color: #999;
    text-transform: uppercase;
    margin: 0;
}
.space-30{
	height: 30px;
	display: block;
}
.space-50{
    height: 50px;
    display: block;
}
.space-200{
    height: 200px;
    display: block;
}
.white-board{
    background-color: #FFFFFF;
    min-height: 200px;
    padding: 60px 60px 20px;
}
.ct-heart{
    color: #F74933;
}

 pre.prettyprint{
    background-color: #ffffff;
    border: 1px solid #999;
    margin-top: 20px;
    padding: 20px;
    text-align: left;
}
.atv, .str{
    color: #05AE0E;
}
.tag, .pln, .kwd{
     color: #3472F7;
}
.atn{
  color: #2C93FF;
}
.pln{
   color: #333;
}
.com{
    color: #999;
}

.btn-simple{
    opacity: .8;
    color: #666666;
    background-color: transparent;
}

.btn-simple:hover,
.btn-simple:focus{
    background-color: transparent;
    box-shadow: none;
    opacity: 1;
}
.btn-simple i{
    font-size: 16px;
}

.navbar-brand-logo{
    padding: 0;
}
.navbar-brand-logo .logo{
    border: 1px solid #333333;
    border-radius: 50%;
    float: left;
    overflow: hidden;
    width: 60px;
}
.navbar .navbar-brand-logo .brand{
    color: #FFFFFF;
    float: left;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-left: 10px;
    margin-top: 10px;
    width: 60px;
}
.navbar-default .navbar-brand-logo .brand{
    color: #555;
}

.btn-post {
    width: 30%;
    /*float: right;*/
    margin-top: 15px;
    text-align: center;
    margin-left: 35%;
}
