# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/package.json
/.htaccess
/docs/2017-04-21_Recherche.docx
/app/classes/models/_old/
/app/index2.php
/app/indexold.php
/docs/images/
