/*
Author:         #
Author URI:     #
Description:    #
Version:        1.0
License:        GNU General Public License v3
License URI:    https://www.gnu.org/licenses/gpl-3.0.de.html
Color1:         rgb(214,34,39) rot #d62227
Color2:         rgb(58,55,57) dunkelgrau #3a3739
Color3:         rgb(255,255,255) weiß #ffffff
*/


/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# General
	## Generic styles
	## Buttons and links
# Forms
# Typography
# Footer
# Responsive
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Import
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Generic Styles
--------------------------------------------------------------*/

*{
    font-family: 'Roboto', sans-serif;
    color : #ffffff;
}

body {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

body.be-different {
    background-image: url(../images/bg/be-different.jpg);
}

body.chapter {
    background-image: url(../images/bg/chapter.jpg);
}

body.decisions {
    background-image: url(../images/bg/decisions.jpg);
}

body.faith {
    background-image: url(../images/bg/faith.jpg);
}

body.success {
    background-image: url(../images/bg/success.jpg);
}

body.way {
    background-image: url(../images/bg/way.jpg);
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

div.tab-head {
    height: 140px;
}

/* TAB MENU */

#login-container {
    position: relative;
    top: 50px;
}

#login-container div.tab-head {
    background: rgba(58,55,57,0.9);
}

#tab-wrapper {
    background:rgba(58,55,57,.6);
    padding: 70px 70px 30px 70px;
    text-transform:uppercase;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
    margin-top: 50px;
    margin-bottom: 50px;
}

#tab-wrapper input[type="radio"] {
    display: none;
}

#tab-wrapper .tab {
    cursor: pointer;
    font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 40px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
    color: #FFFFFF;
}

#tab-wrapper [id^="tab"]:checked + label {
    border-bottom: 2px solid red;
}

#tab-wrapper .tab-content {
    display: none;
}

#tap-wrapper .group .input,
#tap-wrapper .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}

#tab-1:checked ~ #sign-in-content,
#tab-2:checked ~ #sign-up-content,
#tab-3:checked ~ #forgot-password-content{
    display: block;
}

.tab-content .group{
	margin-bottom: 20px;
}

.tab-content .group .label,
.tab-content .group .input,
.tab-content .group .button{
	width:100%;
	color:#fff;
	display:block;
}

.tab-content .group .input,
.tab-content .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}

.tab-content .group .label{
	color: rgba(255,255,255,.8);
	font-size: 13px;
}

.tab-content .group input[type=email]:focus,
.tab-content .group input[type=password]:focus,
.tab-content .group input[type=text]:focus {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(18,18,20,0.82);
    -moz-box-shadow: 0px 0px 15px 0px rgba(18,18,20,0.82);
    box-shadow: 0px 0px 15px 0px rgba(18,18,20,0.82);
}

.tab-content .group .button{
	background: rgba(214,34,39,0.9);
    font-size: 16px;
    letter-spacing: 2px;
}

.tab-content .group .button:hover {
    background: rgba(214,34,39,0.75);
}

.checkbox {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 18px;
    margin-left: 10px;
}

.checkbox input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control_ind {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: rgba(255,255,255,.1);
}

.checkbox:hover input ~ .control_ind,
.checkbox:focus input ~ .control_ind {
    background: rgba(214,34,39,0.9);
}

.checkbox input:checked ~ .control_ind {
    background: rgba(214,34,39,0.9);
}

.control_ind:after {
    content: '';
    position: absolute;
    display: none;
}

.checkbox input:focus ~ .control_ind:after {
    display: block;
}

.checkbox input:checked ~ .control_ind:after {
    display: block;
}

.checkbox input:checked label {
    color: green;
}

.checkbox .control_ind:after {
    left: 8px;
    top: 3px;
    width: 5px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.hr {
    height: 2px;
    margin: 20px 0;
    background: rgba(255,255,255,.2);
}

#tab-wrapper div.footer{
	text-align: center;
    font-size: 16px;
}

#tab-wrapper div.footer label:hover {
    color: #FFFFFF;
    cursor: pointer;
}

/* Tab Header + Profil */
#time {
    margin-bottom: 70px;
    padding-top: 15px;
    text-align: center;

}

#time p {
    padding: 0;
    margin: 0;
    font-size: 28px;
    font-weight: 400;
    color: #FFFFFF;
}

#time p.datum {
    font-size: 75%;
}

div.avatar {
    width: 120px;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-left: -60px;
    z-index: 3;
}

.image-circle {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    border: 3px solid rgb(214,34,39);
}

div.info {
    margin-bottom: 25px;
}

#title-name {
    font-size: 24px;
    font-weight: bold;
    font-stretch: 1px;
    text-transform: none;
    text-align: center;
}

#desc-firmname {
    font-size: 16px;
    text-transform: initial;
    font-weight: normal;
    text-align: center;
}

#desc-firmname small {
    font-size: 80%;
    font-style: italic;
}

/* Hide/Show Password */
::-ms-reveal,
::-ms-clear {
  display: none !important;
}

.hideShowPassword-toggle {
  background-color: transparent;
  background-image: url('../images/wink.svg'), none;
  background-position: 0 center;
  background-repeat: no-repeat;
  border: 2px solid transparent;
  border-radius: 0.25em;
  cursor: pointer;
  font-size: 100%;
  height: 44px;
  margin: 0;
  max-height: 100%;
  padding: 0;
  overflow: 'hidden';
  text-indent: -999em;
  width: 46px;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.hideShowPassword-toggle-hide {
  background-position: -44px center;
}

.hideShowPassword-toggle:hover,
.hideShowPassword-toggle:focus {
  outline: transparent;
}

.hideShowPassword-wrapper {
    width: 100%;
}

/* Password strength */
/* Bootstrap hacks for CSP */
.progress-bar[data-value="0"] { width: 0% }
.progress-bar[data-value="1"] { width: 1% }
.progress-bar[data-value="2"] { width: 2% }
.progress-bar[data-value="3"] { width: 3% }
.progress-bar[data-value="4"] { width: 4% }
.progress-bar[data-value="5"] { width: 5% }
.progress-bar[data-value="6"] { width: 6% }
.progress-bar[data-value="7"] { width: 7% }
.progress-bar[data-value="8"] { width: 8% }
.progress-bar[data-value="9"] { width: 9% }
.progress-bar[data-value="10"] { width: 10% }
.progress-bar[data-value="11"] { width: 11% }
.progress-bar[data-value="12"] { width: 12% }
.progress-bar[data-value="13"] { width: 13% }
.progress-bar[data-value="14"] { width: 14% }
.progress-bar[data-value="15"] { width: 15% }
.progress-bar[data-value="16"] { width: 16% }
.progress-bar[data-value="17"] { width: 17% }
.progress-bar[data-value="18"] { width: 18% }
.progress-bar[data-value="19"] { width: 19% }
.progress-bar[data-value="20"] { width: 20% }
.progress-bar[data-value="21"] { width: 21% }
.progress-bar[data-value="22"] { width: 22% }
.progress-bar[data-value="23"] { width: 23% }
.progress-bar[data-value="24"] { width: 24% }
.progress-bar[data-value="25"] { width: 25% }
.progress-bar[data-value="26"] { width: 26% }
.progress-bar[data-value="27"] { width: 27% }
.progress-bar[data-value="28"] { width: 28% }
.progress-bar[data-value="29"] { width: 29% }
.progress-bar[data-value="30"] { width: 30% }
.progress-bar[data-value="31"] { width: 31% }
.progress-bar[data-value="32"] { width: 32% }
.progress-bar[data-value="33"] { width: 33% }
.progress-bar[data-value="34"] { width: 34% }
.progress-bar[data-value="35"] { width: 35% }
.progress-bar[data-value="36"] { width: 36% }
.progress-bar[data-value="37"] { width: 37% }
.progress-bar[data-value="38"] { width: 38% }
.progress-bar[data-value="39"] { width: 39% }
.progress-bar[data-value="40"] { width: 40% }
.progress-bar[data-value="41"] { width: 41% }
.progress-bar[data-value="42"] { width: 42% }
.progress-bar[data-value="43"] { width: 43% }
.progress-bar[data-value="44"] { width: 44% }
.progress-bar[data-value="45"] { width: 45% }
.progress-bar[data-value="46"] { width: 46% }
.progress-bar[data-value="47"] { width: 47% }
.progress-bar[data-value="48"] { width: 48% }
.progress-bar[data-value="49"] { width: 49% }
.progress-bar[data-value="50"] { width: 50% }
.progress-bar[data-value="51"] { width: 51% }
.progress-bar[data-value="52"] { width: 52% }
.progress-bar[data-value="53"] { width: 53% }
.progress-bar[data-value="54"] { width: 54% }
.progress-bar[data-value="55"] { width: 55% }
.progress-bar[data-value="56"] { width: 56% }
.progress-bar[data-value="57"] { width: 57% }
.progress-bar[data-value="58"] { width: 58% }
.progress-bar[data-value="59"] { width: 59% }
.progress-bar[data-value="60"] { width: 60% }
.progress-bar[data-value="61"] { width: 61% }
.progress-bar[data-value="62"] { width: 62% }
.progress-bar[data-value="63"] { width: 63% }
.progress-bar[data-value="64"] { width: 64% }
.progress-bar[data-value="65"] { width: 65% }
.progress-bar[data-value="66"] { width: 66% }
.progress-bar[data-value="67"] { width: 67% }
.progress-bar[data-value="68"] { width: 68% }
.progress-bar[data-value="69"] { width: 69% }
.progress-bar[data-value="70"] { width: 70% }
.progress-bar[data-value="71"] { width: 71% }
.progress-bar[data-value="72"] { width: 72% }
.progress-bar[data-value="73"] { width: 73% }
.progress-bar[data-value="74"] { width: 74% }
.progress-bar[data-value="75"] { width: 75% }
.progress-bar[data-value="76"] { width: 76% }
.progress-bar[data-value="77"] { width: 77% }
.progress-bar[data-value="78"] { width: 78% }
.progress-bar[data-value="79"] { width: 79% }
.progress-bar[data-value="80"] { width: 80% }
.progress-bar[data-value="81"] { width: 81% }
.progress-bar[data-value="82"] { width: 82% }
.progress-bar[data-value="83"] { width: 83% }
.progress-bar[data-value="84"] { width: 84% }
.progress-bar[data-value="85"] { width: 85% }
.progress-bar[data-value="86"] { width: 86% }
.progress-bar[data-value="87"] { width: 87% }
.progress-bar[data-value="88"] { width: 88% }
.progress-bar[data-value="89"] { width: 89% }
.progress-bar[data-value="90"] { width: 90% }
.progress-bar[data-value="91"] { width: 91% }
.progress-bar[data-value="92"] { width: 92% }
.progress-bar[data-value="93"] { width: 93% }
.progress-bar[data-value="94"] { width: 94% }
.progress-bar[data-value="95"] { width: 95% }
.progress-bar[data-value="96"] { width: 96% }
.progress-bar[data-value="97"] { width: 97% }
.progress-bar[data-value="98"] { width: 98% }
.progress-bar[data-value="99"] { width: 99% }
.progress-bar[data-value="100"] { width: 100% }

.progress-bar-danger {
    background-color: #D62227;
}

.progress {
    border-radius: 10px;
    background: rgba(255,255,255,.1);
    margin-bottom: 5px;
}

#complexity {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 20px;
    text-transform: none;
    padding-top: 1px;
    padding-right: 10px;
}

#myModal, #myModal p, #myModal h4 {
    text-transform: none;
    color: #3a3739;
}
